body {
	font-family: sans-serif;
	line-height: 1.5;
}

h1 {
	background: red;
	border: 5px solid black;
	padding: 15px;
}

p {
	color: black;
	background: blue;
	border: 5px solid black;
	padding: 15px;
	
}

code {
	color: black;
	background: white;
	border: 1px solid black;
}